body{
  margin-top: 10px;
  font-family:calibri,sans-serif;
  font-size:3em;
}

.container {
  width: 100%;
}

.strip{
  border-bottom: 1px solid silver; 
  margin:0px 0px 5px 0px;    
  padding-top: 5px;  
  padding-bottom: 5px;  
    
}

.strip:hover{
    background-color:beige
}


.strip img{
  float: left;
  margin-left: 5px;
  margin-right: 20px; 
  margin-bottom: 5px;
  border-radius: 10px;
}

.summary{
  margin-bottom: 5px;
}

.buttons{
  float: right;
}

.buttons a{
  font-size:1.25em;
  color: darkgreen;
  text-decoration: none;     
  
}

.buttons a:hover{
  color:darkred;
}

.buttons i.fa{
  margin-left: 20px;
}
/*my styles */


.song-artist{
  margin-left: 105px;  
  font-weight: bold;      
  color:grey;
  text-transform: uppercase;
}

.song-title{
  font-size:1.25em;
  font-weight: bold;
  margin-left: 105px;  
  
}

.song-album{
  margin-left: 105px;
  margin-bottom: 5px;    
  /*font-size:.8em;*/
  color:darkred;
  font-style: italic
}
